.sortForm {
  border: 1px solid gray;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  width: 500px;
  gap: 1rem;
  margin: 1rem;
}

.formSelect {
  padding: 15px 25px;
  border-radius: 18px;
  border: 1px solid gray;
  background-color: rgb(240, 240, 255);
  transition: 0.4s;
}

.button {
  padding: 15px 25px;
  border-radius: 18px;
  border: 1px solid gray;
  background-color: rgb(240, 240, 255);
  transition: 0.4s;
  font-weight: bold;

  &:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
  }
}
